.cursor/
.git/
.github/
.vscode/
/data/
/docs/
node_modules/
/tests/
.venv/
venv/
.dockerignore
.editorconfig
# .env
# .env.local
.gitignore
biome.jsonc
compose.yaml
# config.yaml
Dockerfile
opencode.json
.DS_Store
*.md
