name: Code quality

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout project source code
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup Biome toolchain
        uses: biomejs/setup-biome@v2
        with:
          version: "2.3.13"
      - name: Run linter and formatter
        run: biome ci .
  test:
    runs-on: ubuntu-latest
    needs: [lint]
    permissions:
      contents: read
    steps:
      - name: Checkout project source code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.9"

      - name: Install dependencies
        run: bun install --frozen-lockfile --ignore-scripts

      - name: Run tests
        run: bun test
